h3 {
    padding: 0.5cm;
    background-color: #4aaaa5;
    float: left;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.ul-mods li{
    color: gray;
    display: inline;
    list-style-type: upper-roman;
}

li~li { 
    padding-left: .1cm;
    border-left: 1px solid gray;
}

h2 {
    color: #4aaaa5;
}

.footer {
    padding: 25px;
    margin-top: auto;
    border-top: 8px solid #4aaaa5;
    background-color: gray;
  }

