h1 {
    background-color: cadetblue;
    width: 200px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#bio-photo {
    padding: 0.5cm;
    float: left;
}

#menu {
    position: relative;
}

#menu li{
    color: lightgray;
    display: inline;
    list-style-type: upper-roman;

}

li~li { border-left: 1px solid lightgray;
}

h2 {
   color: cadetblue;
   font-weight: bold; 
}


