* {
    box-sizing: border-box;
  }
  

  body {
    background-image: url(../images/interlaced.png);
    padding: 10%;
    font-family: Arial;
  }


  h3 {padding: 0.5cm;
    background-color: white;
    border: 4px solid lightgray;
    float: left;
    color: gray;
    font-weight: bold;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

  #table-test {
    width: 25%;
    float: left;
    margin: auto;
    padding: 10%;
  }

  .test {
    padding-left: 300px;
}

.ul-mods li{
    color:  #777777;
    display: inline;
    list-style-type: upper-roman;
}

li~li { 
    padding-left: 10px;
    border-left: 1px solid lightgray;
}
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    color: gray;
    font-size: 8pt;
    text-align: center;
    height: 10%;
    border-top: 8px solid lightgray;
    background-color: white;
    overflow: hidden;
    left: 0;
    position: fixed; bottom: 0;
    bottom: 0;
    width: 100%;
  } 