nav {
    padding: 50%;
}

.form {
    margin: 5%;
    padding: 5%;
    background-color: whitesmoke;
}

.footer {
    color: gray;
    font-size: 8pt;
    text-align: center;
    border-top: 8px solid lightgray;
    background-color: white;
    overflow: hidden;
    left: 0;
    position: fixed; bottom: 0;
    bottom: 0;
    width: 100%;
  } 

  .btn-linkedin {
    background: darkgray;
    border-radius: 0;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: black;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: darkgray;
    color: black;
  }


